# 파이썬 기본
- 튜플, 리스트, 사전(딕셔너리), 집합
- 조건문, 분기문
- 파일 입출력
- 예외처리
- 함수

In [28]:
# 파이썬 기본
# 튜플(1차원 순서 있는 자료형)

a = 1, 2, 3
print(a)

b = 1, 2, 3, "테스트"
print(b)

c = tuple("test string")
print(c) # 문자열이 하나씩 분리되어서 개별 원소가 됨
print(c[0]) # 튜플 원소 접근은 대괄호로 가능(0부터 인덱스 시작)

# c 안에 있는 원소를 출력
for one in c: print(one)

# print(c[-1555]) 없는 인덱스를 쓰면 IndexError 발생
# c[0] = 'a' # 튜플은 내부의 어떤 원소값을 바꾸는게 안됨, 이뮤터블이기 때문

# +로 이어 붙일수 있음
# None는 null을 의미
c + ("test", None) 
print(c + ("test", None) )

values = 1,2,3,4,5
# 아래처럼 아스테리스트(*)를 주면, 가변 길이의 인자를 담기 위해 사용 가능
a, b, *rest = values

print(f"a={a}, b={b}, rest={rest}")

(1, 2, 3)
(1, 2, 3, '테스트')
('t', 'e', 's', 't', ' ', 's', 't', 'r', 'i', 'n', 'g')
t
t
e
s
t

s
t
r
i
n
g
('t', 'e', 's', 't', ' ', 's', 't', 'r', 'i', 'n', 'g', 'test', None)
a=1, b=2, rest=[3, 4, 5]

In [44]:
# 리스트 => 대괄호나 list함수를 이용해서 생성 가능
list1 = [1,2,3,4,5]
print(list1)

list2 = list(range(1,10)) # 1음 포함, 10은 제외(총 9개 생성)
print(list2)
print(len(list2))

# 리스트 끝에 원소 추가
list2.append(None)
print(len(list2))

# 만약 숫자가 아닌 값이 들어가 있으면 sort는 예외(None 때문)
# list2.sort()
list3 = [10,9,8,7,15,28,4,2,2,1,-10]
list3.sort()
print(list3) # 디폴트 오름차순 정렬

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
10
[-10, 1, 2, 2, 4, 7, 8, 9, 10, 15, 28]

In [50]:
# 딕셔너리 - 사전, 해시맵

empty_dict = {}
print(type(empty_dict))

d1 = {
    'a' : 1, 'b' : [[1,2,3,4], [5,6,7,8]]
}
print(f"d1={d1}, {d1['a']}, {d1['b']}")

<class 'dict'>
d1={'a': 1, 'b': [[1, 2, 3, 4], [5, 6, 7, 8]]}, 1, [[1, 2, 3, 4], [5, 6, 7, 8]]

# numpy
- 넘파이, numerical python의 약자
- 산술계산을 위해 제공되는 패키지 중 하나

In [15]:
import numpy as np

# 2행 3열의 데이터를 만듦(2차원 배열)
# 매번 새로운 데이터를 생성해서 반환
data = np.random.rand(2,3)
print(f"data={data}, type={type(data)}, shape={data.shape}, dtype={data.dtype}") # ndarray를 사용

# ndarray 생성
data1 = np.array([1,2.66,9,6,2,10])
print(data1)
print(data1.dtype)

# 2차원 배열 
print(np.array([[1,2,3],[4,5,6]]))

print(np.zeros(10)) # 0으로 채워진 1차원 배열 반환

print(np.arange(15)) # 0에서 15를 채운 1차원 배열 반환

# 행과 열 개수를 마음대로 바꾸려면 reshape을 이용하면 됨
print(np.arange(15).reshape(3,5))

# numpy의 사칙연산은 원소별 수행

d1 = np.array([1,2,3,4])
d2 = np.array([5,6,7,8])
print(d1+d2)
print(d1/d2)
print(d1-d2)
print(d1*d2)

# 원소 일부 선택(0부터 시작)
print(d1[0:2])
print(d1[:]) # 전체 선택

# 부분 원소만 뽑아서 그것의 원소를 바꿔도 원래 원소가 바뀜에 주의해야함
d3 = d1[0:3]
print(d3)
d3[0] = -11
# d3를 바꿨는데 d1의 값도 바뀌게됨(-11) 즉, 복사를 하지 않고 같은 객체를 바라보기 때문
print(d1)
# copy 해서 접근해야함
print(d3.copy())

arr1 = np.random.randn(5, 4)

print(f"{arr1.mean()}, {arr1.sum()}, {arr1.max()}, {arr1.std()}, {arr1.var()}")

df3 = np.array([[1,2,3,4], [5,6,7,8], [9, 10, 11, 12]])

print(df3)
print(df3[1, 1]) # 6

print(df3[1]) # [5,6,7,8]

print(df3[0:2]) # 2개 행을 추출

print(df3[:, 2] > 10) # 반환되는 것이 부울값

print(df3[:2, 1:]) 

# 데이터 프레임의 특정 열의 값이 10 초과하는 행만 추출
print(df3[df3[:, 3] > 10])

data=[[0.74247597 0.55937414 0.97847025]
 [0.8685466  0.49455793 0.7261166 ]], type=<class 'numpy.ndarray'>, shape=(2, 3), dtype=float64
[ 1.    2.66  9.    6.    2.   10.  ]
float64
[[1 2 3]
 [4 5 6]]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
[ 6  8 10 12]
[0.2        0.33333333 0.42857143 0.5       ]
[-4 -4 -4 -4]
[ 5 12 21 32]
[1 2]
[1 2 3 4]
[1 2 3]
[-11   2   3   4]
[-11   2   3]
-0.1390818258427107, -2.781636516854214, 1.3988788710012332, 1.0341524389342172, 1.0694712669535895
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
6
[5 6 7 8]
[[1 2 3 4]
 [5 6 7 8]]
[False False  True]
[[2 3 4]
 [6 7 8]]
[[ 9 10 11 12]]

In [ ]:
# pandas = DataFrame + Series
# 테이블 형태의 데이터 처리를 위해 사용할수 있는 패키지

In [60]:
import pandas as pd

df = pd.read_csv('python_stat_sample\ch1_sport_test.csv', index_col = '학생번호')

type(df) # 테이블 형태의 데이터는 데이터 프레임 => pandas.core.frame.DataFrame

df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [61]:
df2 = df['악력']

type(df2) # 컬럼 1개의 데이터는 시리즈 => pandas.core.series.Series

# 행과 열의 개수를 반환 (10,5)
# 학생번호 컬럼을 인덱스로 분리해놨기 때문에 5개 컬럼만 가지는 것
df.shape

(10, 5)

In [63]:
import numpy as np
import pandas as pd

df = pd.read_csv('python_stat_sample/ch2_scores_em.csv', index_col = 'student number')

df.shape

df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [46]:
scores = np.array(df['english'])[:10]

scores

# numpy는 통계치 계산이 함수로 제공되고, pandas는 DataFrame, Series 객체에서 멤버함수를 호출하는 식으로 제공이 됨
print(f"mean={np.mean(scores)}") # 평균
print(f"median={np.median(scores):0.3f}") # 중앙값, 소수점 이하 3자리까지 표시
# 최빈값은 DataFrame, Series를 이용
print(f"mode={pd.Series([1,2,3,4,5,5]).mode()}")

mean=55.0
median=56.500
mode=0    5
dtype: int64

In [103]:
import numpy as np

scores = [1,2,3,4,5,6,7,8,9,10]
type(scores)

np.mean(scores)
np.std(scores) # 2.8722813232690143
print(f"std = {np.std(scores):0.3f}") # 점수의 표준편차
print(f"std = {np.var(scores, ddof = 0):0.3f}") # 점수의 분산(모분산)
print(f"std = {np.var(scores, ddof = 1):0.3f}") # 점수의 분산(표본분산)

# 범위
np.max(scores) - np.min(scores)

# 사분위범위(25%, 50%, 75%)
q1 = np.percentile(scores, 25) # 1사분위수
q2 = np.percentile(scores, 50) # 2사분위수
q3 = np.percentile(scores, 75) # 3사분위수
iqr = q3 - q1 # 사분위범위(IQR)

# 정규화 => 어떤 데이터(관측값)을 통일된 지표로 변환하는 작업, 이것의 한가지 예가 표준화인 것
# 표준화 => z-score(z 점수)
# 데이터에서 평균을 빼고 표준편차로 나눠주는 작업
z = ( scores - np.mean(scores) ) / np.std(scores)
print(z)

# 표준화된 데이터는 평균이 0이고 표준편차가 1
np.mean(z)
np.std(z, ddof = 0)

std = 2.872
std = 8.250
std = 9.167
[-1.567 -1.219 -0.87  -0.522 -0.174  0.174  0.522  0.87   1.219  1.567]

1.0

In [ ]:
# matplotlib
- 시각화 라이브러리
- 최근에는 seaborn 이라는 시각화 라이브러리도 사용한다고 함